In [2]:
import pandas as pd
import selenium
from selenium import webdriver

In [3]:
driver = webdriver.Chrome(r"C:\Users\Merit\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.amazon.in/")
driver.find_element_by_xpath("//a[contains(text(),'Fashion')]").click()
driver.find_element_by_xpath("//div[@id='nav-subnav']/a[3]").click()
driver.find_element_by_xpath("//span[contains(text(),'Shoes')]").click()
driver.find_element_by_xpath("//span[contains(text(),'Sports & Outdoor Shoes')]").click()
driver.find_element_by_xpath("//span[contains(text(),'See all results')]").click()

#brand
Brand = []
brand_names = driver.find_elements_by_xpath("//h5[@class = 's-line-clamp-1']//span[@class='a-size-base-plus a-color-base']")
for i in brand_names:
    Brand.append(i.text)

#originalprice
original_price = []
org_price = driver.find_elements_by_xpath("//div[@class='a-row a-size-base a-color-base']//span[@class = 'a-price a-text-price']")
for j in org_price:
    original_price.append(j.text)

#offerprice
offerprice = []
off_price = driver.find_elements_by_xpath("//div[@class='a-row a-size-base a-color-base']//span[@class = 'a-price-whole']")
for k in off_price:
    offerprice.append(k.text)

details = zip(Brand,original_price,offerprice)

fname = 'Shoes.xlsx'
writer = pd.ExcelWriter(r"C:\\Users\\Merit\\Desktop\\assign1"+"\\"+fname,engine = 'xlsxwriter')
pd.ExcelWriter(fname,engine = 'xlsxwriter')
pdtDF = pd.DataFrame(details,columns = ['BRAND','ORIGINAL_PRICE','OFFER_PRICE'])
pdtDF.to_excel(writer,sheet_name = "SHOES",index=False) 
 
driver.close()
writer.save()
writer.close()

C:\Users\Merit\anaconda3\lib\site-packages\xlsxwriter\workbook.py:336: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [4]:
pdtDF

                           BRAND ORIGINAL_PRICE OFFER_PRICE
0                          ELIAS         ₹1,499         590
1                         Campus         ₹1,799       1,439
2                         Bourge         ₹1,499         600
3                    Bacca Bucci         ₹2,499         999
4                          ASIAN           ₹599         539
5                         Campus           ₹799         575
6                         Bourge         ₹1,499         669
7                         Bourge           ₹999         600
8                         Adidas         ₹2,699       1,199
9                         Bourge         ₹1,499         537
10                        Adidas         ₹3,299       2,241
11                         Sparx           ₹899         799
12                         CLYMB           ₹999         349
13                         Sparx         ₹1,349         915
14                         ASIAN           ₹599         499
15                         Sparx         ₹1,399       1,049
16                       D Shoes         ₹1,999         649
17           WORLD WEAR FOOTWEAR           ₹998         499
18                        Campus         ₹1,049         939
19                        Adidas         ₹2,499       1,250
20  ENJOY the celebration people           ₹999         499
21                       Longies         ₹1,399         549
22                       Longies         ₹1,399         549
23                      Steprite         ₹1,999         699
24                        Adidas         ₹2,699       1,678
25                         Sparx         ₹1,699       1,149
26                         Sparx           ₹999         891
27                      Tarshika         ₹1,999         399
28                         Nivia           ₹699         670
29                        BRUTON         ₹1,299         359
30                         ASIAN           ₹999         584
31                        Campus           ₹899         674
32                        Adidas         ₹3,999       2,100
33                        Campus         ₹1,299         909
34                         ASIAN         ₹1,999       1,439
35                        Adidas         ₹4,999       2,250
36                         ASIAN           ₹649         539
37                         ASIAN           ₹999         719
38                         Nivia           ₹899         789
39                        Campus           ₹599         539
40                         ASIAN           ₹998         412
41                       Shoefly         ₹1,199       1,043
42                        Campus         ₹3,299       3,129
43                      Skechers           ₹849         845
44                         Sparx           ₹560         554
45                         Nivia           ₹678         670
46                           DSC         ₹4,299       1,935
47                        Adidas           ₹999         679
48                        Campus         ₹1,499       1,049
49                         Sparx           ₹599         539
50                         ASIAN           ₹999         399
51                        T-Rock           ₹998         499
52           WORLD WEAR FOOTWEAR           ₹999         651
53                         ASIAN           ₹999         499
54                        Bourge         ₹2,699       1,760
55                        Adidas         ₹1,049         997
56                        Campus           ₹899         809
57                        FAUSTO         ₹2,499         999
58                   Bacca Bucci           ₹999         499